@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.filtry{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    gap:20px;
    
    justify-content: center;
    align-items: center;
}
.filtryButton{
height: 4.5vh;
width: 6vw;
font-size: 1vw;
border: 2px solid #1d1d1b;
background-color: #1d1d1b;
font-family: "HankenGrotesk";
cursor: pointer;
}
.filtryModal {
  height: 100%;
  width: 20%;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  
  transform: translateX(-20%);
  opacity: 0;

  
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none; 
}

.filtryModal.open {
  transform: translateX(50px);
  opacity: 1;
  pointer-events: auto;
}
.filtryModal button{
    height: 5vh;
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    border-radius:5px ;
    width: 3vw;
    transition: all 0.3s ease;
    cursor: pointer;
    

}
.filtryModal button:hover{
    background-color: white;
    color: black;
}

