@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NeueMontreal', sans-serif;
  overflow: hidden;
}
.PageContainer{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  

 
}
.WaveElement{
  position: absolute;
  right: -250px;
  top: 0;
  height: 100vh;
  
}

.profileMenu{
  position: absolute;
  top: 100px;
  right: 20px;
  height: 35vh;
  width: 15vw;
  z-index: 1000;
  opacity: 0;
}
.profileMenu.show{
  opacity: 1;
  transition: opacity 0.7s ease;
}
.UserProfileButton{
  position: absolute;
  display: flex;
  right: 20px;
  height: 40px;
  width: 40px;
  top: 10px;
  border-radius: 10px ;
  border: 2px solid black;
  cursor: pointer;
}
.UserProfileImage{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.SafekoLogo{
  position: fixed;
  
  left: 50%;
  top: 70px;
  height: 30vh;
  width: 50vw;
  transform: translate(-50%, 0);
  z-index: 100;
}
.LogoIcon{
  width: 15vw;
  height: fit-content;
  position: absolute ;
  left: -70px;
  top: -40px;
  
}
.header{
  
  position: fixed;
  display: flex;
  top: 0px;
  
  height: 60px;
  width: 100%;
  background-color: white;
  z-index: 1000000;
}

.UserIcon{
  position: absolute;
  right: 10px;
  top: 5px;
  
  
}
.Logout{
  position: absolute;
  left: 50%;
  z-index: 1000;
}

.UserName{
  position: absolute;
  right: 70px;
  top: 20px;
  color: black;
  font-weight: 800;
  font-family: 'HankenGrotesk';
}
.MainPageText{
  position: absolute;
  display: flex;
  width: 30vw;
  height: 30vh;
  color: #1d1d1b;
  left: 8%;
  top: 30%;
  font-size: 4rem;
  font-family: 'HankenGrotesk';
  font-weight: 500;
}
.bottomImages{
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 50px;
  left: 150px;
  height: 30vh;
  align-self: center;
  width: 70vw;
  
  gap: 40px;
}
.samochodyContainer, .nieruchomosciContainer, .bizuteriaContainer {
  display: flex;
  position: relative;
  flex: 1;
  
  
  flex-direction: column;
  place-items: center;
  padding: 2px;
  gap: 10px;
}
.samochodyImageContainer, .nieruchomosciImageContainer, .bizuteriaImageContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
 
}
.carImage{
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;

}
.carImage:hover, .houseImage:hover, .bizuteriaImage:hover {
  opacity: 0.9;
}
.houseImage{
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  
}
.bizuteriaImage{
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  
}
.samochodyButton,.bizuteriaButton,.nieruchomosciButton {
  height: 5vh;
  width: 50%;
  border: 2px solid green;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1vw;
  font-family: "HankenGrotesk";
  background-color: #1d1d1b;
  border: 2px solid #1d1d1b;
  transition: all 0.4s ease;
}
.samochodyButton:hover,.bizuteriaButton:hover,.nieruchomosciButton:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.headerText {
  height: 5vh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 10%;
  font-family: "HankenGrotesk";
  
  display: flex;
  gap: 50px;
  color: #1d1d1b;
  align-items: center;
}

.ButtonsContainer{
  
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  height: 50%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: transparent;
  z-index: 10000;
  

  
}

.LoginButton{
  
  height: 8vh;
  width: 15vw;
  align-self: right;
  background-color: #1d1d1b;
  letter-spacing: 1.5px;
  border: 2px solid #1d1d1b;
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: 'HankenGrotesk';
  
  cursor: pointer;
  transition: all 0.4s ease;
  
}

.OffersButton{
  height: 8vh;
  width: 15vw;
  align-self: right;
  background-color: #1d1d1b;
  letter-spacing: 1.5px;
  border: 2px solid #1d1d1b;
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: 'HankenGrotesk';
  
  cursor: pointer;
  transition: all 0.4s ease;
}

.GroupsButton{
  height: 8vh;
  width: 15vw;
  align-self: right;
  background-color: #1d1d1b;
  letter-spacing: 1.5px;
  border: 2px solid #1d1d1b;
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: 'HankenGrotesk';
  
  cursor: pointer;
  transition: all 0.4s ease;
}
.GroupsButton:hover{
  background-color: white;
  color: rgb(0, 0, 0);
}
.LoginButton:hover{
  background-color: white;
  color: rgb(0, 0, 0);
}
.OffersButton:hover{
  background-color: white;
  color: rgb(0, 0, 0);;
}