@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NeueMontreal', sans-serif;
}

.OfertyPageContainer{
    height: 100vh;
    width: 100vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.dodajOferte{
    position: absolute;
    right: 80px;
    border-radius: 20px;
    top: 120px;
    background-color: white;
    color: black;
    font-family: 'HankenGrotesk';
    font-weight: 800;
    font-size: 1rem;
    height: 5vh;
    width: 9%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dodajOferte:hover{
    background-color: transparent;
    color: white;
}
.header{
  position: absolute;
  display: flex;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 60px;
  width: 100%;
  background-color: white;
}
.header-logo{
  position: absolute;
  width: 200px;
  height: 90px;
  left: -10px;
  top: -15px;
  
}
.UserIcon{
  position: absolute;
  right: 10px;
  top: 5px;
  
  
}
.OfertaAddModal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 80vh;
  width: 70vw;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%); /* Start hidden (off screen) */
  background-color: white;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 999;
  pointer-events: none; /* Prevent interaction when hidden */
}

.OfertaAddModal.visible {
  transform: translate(-50%, -5%); /* Slide up into view */
  opacity: 1;
  pointer-events: auto;
}


.Photos{
    height: 60%;
    width: 40%;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2,1fr );
    grid-template-rows: repeat(2,1fr);
    background-color: black;
    position: absolute;
    place-items: center;
    right: 20px;
    top: 20px;
}
.Photo1{
width: 70%;
height: 80%;
border: 2px solid white;
}
.Photo2{
width: 70%;
height: 80%;
border: 2px solid white;
}
.Photo3{
width: 70%;
height: 80%;
border: 2px solid white;
}
.Photo4{
width: 70%;
height: 80%;
border: 2px solid white;
}
.OfertaAddModal input{
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
    height: 10%;
    border: none;
    background-color: black;
    font-weight: 800;
    font-family: 'HankenGrotesk';
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.OfertaAddModal::placeholder{
    text-align: center;
}
.SubmitOferta{
  height: 6vh;
  width: 12vw;
  
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 40px;
  background-color: black;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.SubmitOferta:hover{
  scale: 1.2;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.OfertyList{
  position: absolute;
  top: 30%;
  height: auto; 
  overflow: visible;
  width: 30vw;
  flex-wrap: wrap;
  gap: 21px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  
  
}
.OfertaItem{
  width: 100%;
  height: 60vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.OfertaPhoto1{
  margin-top: 10px;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  flex: 1;
}
.detailsContainer{
  width: 100%;
  display: flex;
  position: relative;
  flex: 1;
  
}
.nazwa1{
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
.cena1{
  position: absolute;
  top: 30px;
  right: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
.kup{
  position: absolute;
  top: 40%;
  left: 10px;
  height: 5vh;
  width: 8vw;
  background-color: transparent;
  border: 1px solid white;
  color: rgb(255, 253, 253);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.kup:hover{
  background-color: white;
  color: black;
}

.szczegoly{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "HankenGrotesk";
} 
