@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Logout{
  position: absolute;
  left: 50%;
  z-index: 1000;
}
body {
  font-family: 'NeueMontreal', sans-serif;
}

.OfertyPageContainer{
    height: 100vh;
    width: 100vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.dodajOferte{
    position: absolute;
    right: 250px;
    border-radius: 20px;
    top: 50%;
    border:3px solid black;
    transform: translate(0, -50%);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'HankenGrotesk';
    font-weight: 800;
    font-size: 1rem;
    height: 4.5vh;
    width: 8%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dodajOferte:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
    
}
.header{
  position: relative;
  display: flex;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 60px;
  width: 100%;
  background-color: white;
}
.header-logo{
  position: absolute;
  width: 200px;
  height: 90px;
  left: -10px;
  top: -15px;
  
}
.UserIcon{
  position: absolute;
  right: 10px;
  top: 5px;
  
  
}
.UserProfileButton{
  position: absolute;
  display: flex;
  right: 20px;
  height: 40px;
  width: 40px;
  top: 10px;
  border-radius: 10px ;
  border: 2px solid black;
  cursor: pointer;
}
.UserProfileImage{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.OfertaAddModal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 80vh;
  width: 70vw;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%); /* Start hidden (off screen) */
  background-color: rgb(255, 255, 255,  0.9);
  opacity: 0;
  border-radius: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 999;
  pointer-events: none; /* Prevent interaction when hidden */
  padding: 20px;
}

.OfertaAddModal.visible {
  transform: translate(-50%, -5%); /* Slide up into view */
  opacity: 1;
  pointer-events: auto;
}

.Photos{
height: 60%;
width: 40%;
display: grid;
gap: 0;
grid-template-columns: repeat(2,1fr );
grid-template-rows: repeat(2,1fr);
background-color: transparent;
border-radius: 20px;
position: absolute;
place-items: center;
right: 20px;
top: 20px;
}
.Photo1input{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
}
.addPhotoIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.Photo1{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo2{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo3{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo4{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.nazwacenaopis{
  position: relative;
  display: flex;
  border: 2px solid red;
  height: 100vh;
  width: 30vw;
  flex-direction: row;
  
}

.OfertaAddModal::placeholder{
    text-align: left;
    color: black;
    
}
.SubmitOferta{
  height: 6vh;
  width: 12vw;
  
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 40px;
  background-color: black;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.SubmitOferta:hover{
  scale: 1.2;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.OfertyList{
  position: absolute;
  top: 35%;
  height: auto; 
  overflow: visible;
  width: 80vw;
  flex-wrap: wrap;
  gap: 20px;
  column-gap: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  align-self: center;
  align-items: center;
  
  
  
}
.OfertaItem{
  width: 20vw;
  height: 50vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.OfertaPhoto1{
  margin-top: 10px;
  border-radius: 10px;
  width: 95%;
  height: 50%;
  flex: 1;
}
.detailsContainer{
  width: 100%;
  display: flex;
  position: relative;
  flex: 1;
  
}

.nazwa1{
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
.cena1{
  position: absolute;
  top: 34px;
  right: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.2vw;
  letter-spacing: 1.5px;
}
.kup{
  position: absolute;
  top: 40%;
  left: 10px;
  height: 5vh;
  width: 8vw;
  background-color: transparent;
  border: 1px solid white;
  color: rgb(255, 253, 253);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.kup:hover{
  background-color: white;
  color: black;
}

.szczegoly{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "HankenGrotesk";
  cursor: pointer;
} 
.Wyszukiwarka{
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 80vw;
  
}
.kategoria{
  border: 3px solid black;
  width: 100%;
  height: 7vh;
  border-radius: 17px;
}
.mainInfo{
  display: flex;
  border: 2px solid green;
  width: 100%;
  height: 90%;
  gap: 20px;
  flex-direction: column;
  margin-top: 90px;
}
.OfertaAddModal input[class = 'nazwa'],
.OfertaAddModal input[class = 'cena'],
.OfertaAddModal input[class = 'opis'],
.OfertaAddModal input[class = 'lokalizacja']{
    width: 100%;
    border-radius: 20px;
    height: 11%;
    border: none;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'HankenGrotesk';
    font-size: 1vw;
    color: black;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}
.houseInfo{
  border: 2px solid rgb(0, 255, 213);
  display: flex;
  width: 50%;
  gap: 20px;
  flex-direction: column;
  margin-top: 152px;
  

}
.kategoriaMainInfo{
  width: 50%;
  display: flex;
  height: 100%;
  border: 2px solid red;
  position: relative;
  flex-direction: column;
}
.houseInfo input{
  width: 100%;
    border-radius: 20px;
    height: 11%;
    border: none;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'HankenGrotesk';
    font-size: 1vw;
    color: black;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}